body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
}
.mynavbar {
    background-color: #4741AF;
}
.nav-link{
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 53px 0;
}
.navbar-brand{
    color: white;
    font-size: 44px;
    font-weight: 700;
}
.text-width{
    width: 800;
    font-size: 80px;
}
.banner-subtittle{
    font-size: 24px;
    font-weight: 500;
}
.banner-button {
    background-color: #6a5acd;
    padding: 13px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.banner-button:hover{
    color: #6a5acd ;
    background-color: white;
    transition: 2s;
}
.img-2{
    margin-top: 25px;
    
    margin-left: -219px;
    margin-top: -42px;
}
.about{
    font-weight: bold;
    color: #6a5acd;
}
.title{
    font-weight: bold;
    font-size: 38px;
}
.button{
    font-weight: 700;
    margin-top: 50px;
    color: black;
    text-decoration: none;
}
.button:hover{

}









